{% extends 'base.html' %}

{% block head %}
<h1>Predict whether or not your child has ever smoked cigarettes</h1>
{% endblock %}

{% block body %}
<form method = "POST", action="{{url_for('predict')}}">
    <b>
        Age: <input type = "number", name="age"> <br><br>
        Sex:
        <select name="sex" id="sex">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select> <br><br>
        Race:
        <select name="race" id="race">
            <option value="asian">Asian</option>
            <option value="black">Black</option>
            <option value="hispanic">Hispanic</option>
            <option value="native">Native</option>
            <option value="pacific">Pacific</option>
            <option value="white">White</option>
        </select> <br><br>
        Rurality:
        <select name="rurality" id="rurality">
            <option value="rural">Rural</option>
            <option value="urban">Urban</option>
        </select> <br><br><br>
    </b>
    <input type="submit", value="Predict">
</form>
{% endblock %}